<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    {% if page.collectionpage %}
      {% assign collectiondata = site.collections | where: "label", page.collectionpage | first %}
      <title>{{ collectiondata.title }} - {{ site.title }}</title>
    {% elsif page.title %}
      <title>{{ page.title }} - {{ site.title }}</title>
    {% else %}
      <title>{{ site.title }}</title>
    {% endif %}

    <link rel="stylesheet" href="{{ "/assets/styles.css" | relative_url }}">

    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🍕</text></svg>">

  </head>
  <body>

    {{ content }}

    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans:400,400i,700|Neuton:400,700" rel="stylesheet">
  </body>
</html>
